<div class="row">
	<h1>E-Service Listings</h1>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>E-ServiceName</th>
			<th>E-Service Id</th>
			<th>NRIC</th>
			<th>Deleted?</th>
			<th>Created By</th>
			<th>Created On</th>
			<th>Updated By</th>
			<th>Updated On</th>
		</tr>
		<tr *ngFor="let eService of eservices">
			<td>{{ eService.id }}</td>
			<td>{{ eService.eserviceName }}</td>
			<td>{{ eService.eserviceId }}</td>
			<td>{{ eService.nric }}</td>
			<td>{{ eService.deleteFlag }}</td>
			<td>{{ eService.createdBy }}</td>
			<td>{{ eService.createdOn }}</td>
			<td>{{ eService.updatedBy }}</td>
			<td>{{ eService.updatedOn }}</td>
		</tr>
	</table>
</div>